spring:
  jpa:
    hibernate:
#      ddl-auto: validate
      default_schema: Decryptor
  datasource:
    password: P@ssw0rd
    username: root
    url: jdbc:mysql://localhost:3306/Decryptor
    driver-class-name: com.mysql.cj.jdbc.Driver
    initialize: true
  liquibase:
    change-log: liquibase-changeLog.xml