spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        package-scan: com.decryptor
  datasource:
    password: P@ssw0rd
    username: root
    url: jdbc:mysql://localhost:3306/decryptor
    driver-class-name: com.mysql.cj.jdbc.Driver
  liquibase:
    change-log: liquibase-changeLog.xml
server:
  port: 8081
logging:
  level:
    com.javaguru: INFO
management:
  endpoints:
    web:
      exposure:
        include: health, metrics, info, prometheus
      base-path: /